In [1]:
import argparse
import dataclasses
import json
import logging
import math
import pathlib
import random
import sys
import os
import time

import ast
import pandas as pd
import numpy as np
from copy import deepcopy

from tqdm import tqdm
from xopen import xopen

from torch_geometric.data import Data

/home/ubuntu/anaconda3/envs/graphllm/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
DATA_PATH = "/home/ubuntu/proj/data/CS-TAG"
folder_names = os.listdir(DATA_PATH)

In [3]:
for folder_name in folder_names:
    files_names = os.listdir(os.path.join(DATA_PATH, folder_name))
    for file_name in files_names:
        if file_name.endswith('.csv'):
            csv_path = os.path.join(DATA_PATH, folder_name, file_name)
            df = pd.read_csv(csv_path)
            df.neighbour = df.neighbour.apply(lambda x: ast.literal_eval(x))

In [6]:
edge_index_i, edge_index_j = [], []
for i in tqdm(df.index):
    node_id = df.loc[i, 'node_id']
    neighbor_ids = df.loc[i, 'neighbour']
    for neighbor_id in neighbor_ids:
        edge_index_i.append(node_id)
        edge_index_j.append(neighbor_id)
edge_index = np.array([edge_index_i, edge_index_j])

100%|██████████| 173055/173055 [00:01<00:00, 93063.61it/s]

In [12]:
graph = Data(
    node_text = df.text.values,
    edge_index = edge_index,
)

In [14]:
graph

Data(edge_index=[2, 1773594], node_text=[173055])

In [15]:
df

,category,text,label,node_id,neighbour
0,Other Sports,The title of the item in this Sports & Fitness...,0,0,[2]
1,Other Sports,The title of the item in this Sports & Fitness...,0,1,[79091]
2,Other Sports,The title of the item in this Sports & Fitness...,0,2,"[0, 61708]"
3,Exercise & Fitness,The title of the item in this Sports & Fitness...,3,3,[163460]
4,Hunting & Fishing,The title of the item in this Sports & Fitness...,2,4,"[2009, 13231, 30612, 35208, 52274, 54627, 7989..."
...,...,...,...,...,...
173050,Hunting & Fishing,The title of the item in this Sports & Fitness...,2,173050,[142858]
173051,Hunting & Fishing,The title of the item in this Sports & Fitness...,2,173051,"[15824, 37380, 54272, 135305]"
173052,Clothing,The title of the item in this Sports & Fitness...,12,173052,[126220]
173053,Clothing,The title of the item in this Sports & Fitness...,12,173053,[103328]
173054,Clothing,The title of the item in this Sports & Fitness...,12,173054,"[67766, 139035, 157605]"